*.svg
*.png
unique_gG_vec_12.jld2
graphsG_12.jld2
graphs_12.jld2
data/GraphFiles/graphs_12.jld2
data/GraphFiles/graphsG_12.jld2
data/GraphEvaluations/Spin_S1half/C_11.jld2
data/GraphEvaluations/Spin_S1/C_11.jld2
data/GraphEvaluations/Spin_S3half/C_11.jld2
data/GraphEvaluations/Spin_S1half/C_12.jld2
data/GraphEvaluations/Spin_S1/C_12.jld2
data/GraphEvaluations/Spin_S3half/C_12.jld2
Chain_S1_BSb
MatrixPade.jl
Honeycomb_Lattice_BSch
Kagome_Lattice_BSch
Kagome_Lattice_BSb
Square_Lattice_BSch
Dyn-HTE.jl
Manifest.toml
docs/build
.DS_Store
examples/.DS_Store
examples/.DS_Store
examples/SpinCluster/c_iipDyn_matXXZ.jld2
examples/Pyrochlore_Lattice/220_linecuts/wS(w,q)/wTSqw_cutwS220_T4.txt
examples/Pyrochlore_Lattice/220_linecuts/wS(w,q)/wTSqw_cutwS221_T4.txt
examples/Pyrochlore_Lattice/220_linecuts/wS(w,q)/wTSqw_cutwS2205_T4.txt
examples/Pyrochlore_Lattice/220_linecuts/S(w,q)/wTSqw_cutS221_T4.txt
examples/Pyrochlore_Lattice/220_linecuts/S(w,q)/wTSqw_cutS220_T4.txt
examples/Pyrochlore_Lattice/220_linecuts/S(w,q)/wTSqw_cutS2205_T4.txt
